section.about-us
  .container.about-us__container
    h2.about-us__title
      span О нас в цифрах
    .about-us__list
      .about-us__item
        span.about-us__number 7
        span.about-us__text лет опыта
      .about-us__item
        span.about-us__number 400
        span.about-us__text выполненных проектов
      .about-us__item
        span.about-us__number 10+
        span.about-us__text специалистов
