section.about-us
  .container.about-us__container
    h2.about-us__title О компании
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor, magna eget ultricies tristique, eros velit placerat ligula, sit amet pulvinar mauris ante aliquam sapien. Nulla id eleifend mi. Nulla facilisi. Fusce fermentum arcu sed dapibus pulvinar. Curabitur malesuada et neque quis feugiat. Integer id mattis lectus. Phasellus tincidunt ut ante venenatis maximus. Vivamus volutpat ipsum ac rutrum posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor, magna eget ultricies tristique, eros velit placerat ligula, sit amet pulvinar mauris ante aliquam sapien. Nulla id eleifend mi. Nulla facilisi. Fusce fermentum arcu sed dapibus pulvinar. Curabitur malesuada et neque quis feugiat. Integer id mattis lectus. Phasellus tincidunt ut ante venenatis maximus. Vivamus volutpat ipsum ac rutrum posuere
