section.form
  .container.form__container
    .form__wrapper
      span Возникли вопросы?
      span.form__big Оставьте заявку на бесплатную консультацию
      span Введите Ваши актуальные данные и наш специалист свяжется с Вами в самое ближайшее время
      form.form__form
        .form__top
          .form__left
            span ФИО:
            input(type="text")
          .form__right
            span Телефон:
            input(type="phone")
        button.form__submit Оставить заявку
        p Нажимая кнопку "ОСТАВИТЬ ЗАЯВКУ" вы даете согласие на обработку персональных данных и соглашаюсь с условиями политики конфиденциальности
