section.main-slider
  .container.main-slider__container
    ul.main-slider__list
      li.main-slider__item
        //- .main-slider__text-block
        //-   span.main-slider__text Красивые слова о нашей компании
        //- .main-slider__img-block
        //-   picture
        //-     source(srcset="img/logo-new.webp")
        //-     img.bottom-header__logo-img(src="img/logo-new.png")
      li.main-slider__item
        .main-slider__text-block
        .main-slider__img-block
