section.main-slider
  .main-slider__list
    .main-slider__item
      .container.main-slider__container
    .main-slider__item
      .container.main-slider__container
    .main-slider__item
      .container.main-slider__container
