section.main-slider
  .main-slider__list
    .main-slider__item
      .container.main-slider__container
        h2 Исполнительная документация
    .main-slider__item
      .container.main-slider__container
        h2 Разработка ППР
    .main-slider__item
      .container.main-slider__container
        h2 Аутсорсинг ПТО/СКК
    .main-slider__button-list
