section.partners
  .container.partners__container
    h2.partners__title
      span Заказчики
    .partners__list
      .partners__item
        img(src="img/partners1.jpg")
      .partners__item
        img(src="img/partners2.jpg")
      .partners__item
        img(src="img/partners3.png")
      .partners__item
        img(src="img/partners4.jpg")
      .partners__item
        img(src="img/partners5.jpg")
      .partners__item
        img(src="img/partners6.jpg")
      .partners__item
        img(src="img/partners7.jpg")
      .partners__item
        img(src="img/partners8.jpg")
