section.ppr
  .container.ppr__container
    h2.services__title
      span УРАЛ
        svg(width="100" height="100")
          use(xlink:href="img/sprite.svg#logo")
    p Разработка ППР – обязательный этап при организации строительных работ. Грамотный состав проекта производства упрощает планирование стройки и позволяет соблюдать указанные сроки организационных этапов. При этом строители не нарушают технологии по созданию и монтажу конструкций. ППР позволяет минимизировать риски, которые связаны с полной остановкой строительства согласно решению вышестоящих органов, контролирующих процесс. В ППР эксперты указывают перечень подготовительных, организационных и основных видов работ, которые прописаны в проектной документации конкретного строительного объекта. Мы выполним разработку проекта в кратчайшие сроки.
    h2 Особенности оформления ППР
    picture
      source(srcset="img/ppr1.webp" type="image/webp")
      img(src="img/ppr1.jpg")
    p Каждый заказчик устанавливает конкретные требования к оформлению проектной документации. ППР полностью соответствует внутренним и внешним стандартам таких предприятий, как Траснефть или Башнефть. Разработка проекта производства возможна, как для отечественной, так и для зарубежной компании. При оценке итогового проекта эксперты применяют не только российские, но и европейские стандарты качества.
    p ППР используется для разработки новых строительных объектов, технического перевооружения, реконструкции и проведения капитального ремонта. Это разрешительная документация, без которых начало процессов строительства невозможно. Над созданием проекта трудятся лучшие аттестованные в области промбезопасности разработчики. Компании удалось наработать собственную базу проектов, благодаря чему их стоимость значительно уменьшилась, сроки изготовления стали более сжатыми, но при этом качество выполненных работ остается на высоте.
    p На каждую выполненную профессионалами разработку выдается бессрочная гарантия. Компания готова полностью сопровождать проект до полного согласования и начала строительства объекта.
    h2 Сколько стоит разработка ППР?
    p Стоимость оформления проекта производства зависит от полноты исходных данных и пожеланий клиента. Полную стоимость заказчик узнает только после консультации с представителем фирмы. Предварительная оценка сообщает только приблизительные расценки. Плюс все зависит от того, какие виды и объемы работ предусматриваются. Например, если потенциальный клиент хочет выполнить монтаж металлических конструкций для возведения здания, размер которых составляет 25 на 31 метр и в технической документации высота прописана 13 метров, то придется выполнить ряд подготовительных процессов. Изначально специалистам придется провести земляные работы, устроить ростверк, а затем установить металлические конструкции. Только после обсуждения этих нюансов заказчик сможет узнать, сколько приблизительно будет стоить разработка ППР. Исходя из этого примера эксперты компании занялись бы разработкой проекта производства на монтажные работы.
    p Также на стоимость влияют указанные заказчиком сроки. Чем больше дедлайн – тем дешевле выйдет проект, так как если экспертам придется работать по сжатому графику, это усложнит их задачу.
    h2 Сколько времени уходит на составление ППР?
    picture
      source(srcset="img/ppr2.webp" type="image/webp")
      img(src="img/ppr2.jpg")
    p В среднем на создание ППР у наших экспертов уходит от двух дней. Максимальные сроки выполнения зависят от полноты исходной информации, которую предоставил заказчик, сложности и количества работ. Возможно создание документации за сутки, но тогда стоимость услуги увеличится. Также мы разрабатываем ППРк (проект производства работ кранами).
    p Скорость оформления зависит от таких критериев:
    ul
      li предоставление первоначальной информации;
      li сложность;
      li количество рабочих процессов на конкретном объекте.
    p Если потенциальный клиент предоставит неполные данные, сроки могут затянуться, поскольку без оперативных ответов заказчика разработчики не смогут сдвинуться с места.
    h2 Какая информация необходима для создания ППР?
    p Каждый проект требует индивидуального подхода и список может варьироваться, но есть классический перечень данных, которые необходимы всегда.
    p Заказчик должен предоставить:
    ul
      li ТЗ;
      li ПОС;
      li рабочую документацию;
      li список техники и машин, которые будут использоваться на стройке;
      li число ИРТ;
      li требования к организации СМР.
    p Специалисты нашей компании не смогут начать формирование проекта без наличия перечисленных выше документов.
    h2 Как разрабатывается ППР?
    picture
      source(srcset="img/ppr3.webp" type="image/webp")
      img(src="img/ppr3.jpg")
    p Наша компания составила регламент, согласно которому при работе с клиентом сотрудники придерживаются единого порядка действий. Как только поступает заказ на проект производства работ эксперты сразу начинают действовать. Первый шаг – предварительная консультация для сбора данных.
    p Этапы создания ППР:
    ul
      li изучение ТЗ
      li составление списка видов работ;
      li разработка пояснительной записки к проекту;
      li создание техкарт и вставка ссылок с ПЗ;
      li корректировка стройгенплана и графиков.
    p Разработкой ППР занимаются сразу несколько специалистов. Это упрощает процесс и делает работу более качественной. Каждый сотрудник  занимается направлением, которое за ним закреплено. Каждый этап проходит дополнительную контрольную проверку. Это позволяет убедиться в том, что разработанный нами проект полностью соответствует актуальным нормативным документам. К примеру, инженер-энергетик отвечает только за разработку электромонтажных работ на техкарте, а эксперт ПБОТОС занимается написанием раздела по промышленной безопасности и охране труда.
    h2 Как оформляется ППР?
    p Выполняем оформление проекта производственных работ согласно НТД. Еще один обязательный стандарт – соответствие СПДС. Наши работники проводят тщательную проверку каждого раздела ППР перед сдачей.
    p Проект производственных работ состоит из:
    ul
      li обложки;
      li титульного листа;
      li оглавления;
      li общей информации;
      li списка литературы;
      li ознакомительных листов;
      li согласования;
      li приложений.
    p Также в состав проекта входят технологические карты, которые сотрудники нашей компании разрабатывают согласно стандартам и нормативным документам, которые лично предоставил заказчик вместе с техническим заданием.
