section.pto
  .container.pto__container
    h2.services__title
      span УРАЛ
        svg(width="100" height="100")
          use(xlink:href="img/sprite.svg#logo")
    p Производственно-технический отдел — это подразделение строительной организации, призванное решать массу задач, от подготовки документации или выполнения расчетов до организации работ или производства. Здесь работают подготовленные специалисты с немалым опытом и знаниями. Полный перечень функций ПТО может занять не одну страницу, от качества работы отдела зависит результат деятельности всей компании.
    h2 Что такое отдел ПТО
    picture
      source(srcset="img/pto1.webp" type="image/webp")
      img(src="img/pto1.jpg")
    p Производственно-технический отдел — это самостоятельное подразделение, выполняющее различные задачи:
    ul
      li систематизация, прием, учет, классификация и регистрация поступающей технической информации;
      li разработка исполнительной документации;
      li участие в сдаче объекта;
      li внедрение новых технологий, повышение эффективности производства строительных работ;
      li технический контроль за строительно-монтажными работами;
      li оперативное информирование руководства организации о возникающих производственных и технических проблемах и возможных вариантах их решения;
      li контроль за своевременным обеспечением проектно-сметной документацией, соблюдением строительных норм и правил, сдачей объектов в эксплуатацию в установленные сроки.
    h2 Что такое аутсорсинг ПТО
    p Не все компании могут позволить себе содержать в штате профессионалов элитного уровня. Иногда их трудно найти, а для небольших организаций увеличение числа штатных работников слишком расточительно. В таких случаях на помощь приходит аутсорсинг — сотрудничество со специализированными компаниями, выполняющими разовые или постоянные работы для заказчиков.
    p Вместо содержания собственного отдела, составляется договор с аутсорсинговой компанией. Ее сотрудники не входят в штат предприятия и работают по конкретному заданию. Такой способ сотрудничества выгоден всем — предприятие получает качественную работу без необходимости искать и содержать собственных сотрудников. Для аутсорсинговой компании это — возможность работать в коллективе и решать профессиональные задачи с максимальным эффектом.
    p Деятельность аутсорсинговой компании ведется в строгом соответствии с действующими нормативами и законодательными актами.
    h2 Преимущества аутсорсинга
    p На основе аутсорсинга работают многие компании, получая от этого массу преимуществ:
    ul
      li исчезает необходимость поиска грамотных и опытных специалистов, которых на рынке труда очень мало;
      li снимаются проблемы с оплатой труда, социальных отчислений, с административным надзором за деятельностью сотрудников;
      li качество работы по аутсорсингу гораздо выше, поскольку сторонние работники несут ответственность в случае возникновения ошибок или причинения материального ущерба.
    p К списку достоинств можно добавить возможность выбрать самую надежную аутсорсинговую компанию и привлечь конкретных специалистов. Для заказчика это удобно, так как можно получить работника высокого класса только на время выполнения задания. Кроме этого, можно выбрать форму работы — дистанционно, на предприятии или комбинированный способ. Поскольку работа ПТО преимущественно ведется с документацией, экономия времени на перемещения людей повышает уровень работы и дает лучшие результаты.
    h2 В каких случаях аутсорсинг необходим
    picture
      source(srcset="img/pto2.webp" type="image/webp")
      img(src="img/pto2.jpg")
    p При аутсорсинге оплата производится только за конкретную работу, выполненную по условиям договора. Исчезает необходимость выплачивать зарплату, оплачивать социальные взносы (больничные, отпускные, взносы в пенсионный фонд, медицинское страхование). В этом отношении аутсорсинг выгоден всем компаниям, за редким исключением (если специфика работы предприятия требует постоянного и немедленного реагирования ПТО на меняющуюся ситуацию).
    p Однако, существуют и другие причины необходимости аутсорсинга:
    ul
      li если предприятие невелико, и создание собственного ПТО станет непосильным финансовым бременем;
      li дефицит опытных и грамотных профессионалов с высшим уровнем подготовки вынуждает привлекать сторонние организации; 
      li сотрудники аутсорсинговых компаний в большей степени заинтересованы в получении положительных результатов, поскольку от этого зависит их заработок.
    p В рамках договора на аутсорсинг заказчик получает возможность корректировать количество сотрудников — если в начале года требуется первичная разработка документации, то в конце возможен ввод в эксплуатацию. Здесь можно привлечь дополнительных специалистов.
    h2 Какие выполняются услуги
    p При переходе на аутсорсинг строительная компания передает функции ПТО другой компании. Это дает возможность сосредоточиться на процессе строительства, не отвлекая собственных инженеров на ведение документации. На услуги аутсорсинговой компании составляется договор, по которому решаются определенные задачи, с присутствием специалистов на объекте или с удаленным характером работы.
    h2 Возможные проблемы и сложности
    p Как правило, переход на аутсорсинговое обслуживание снимает с руководства предприятий массу проблем. Однако, иногда возникают сложности, причинами которых становятся:
    ul
      li некомплектность или отсутствие первичной документации (сертификатов, паспортов на оборудование и материалы, протоколов лабораторий);
      li отсутствие рабочего взаимодействия между отделами, вынуждающая решать все вопросы через управленческие структуры предприятия.
    p Решение этих проблем — забота руководства компании-заказчика. Чем раньше удастся справиться с этими сложностями, тем скорее работа ПТО даст ожидаемый результат.
    h2 Кого привлекают для решения задач
    p Договор аутсорсинга не ограничивает состав или специализацию сотрудников. Для выполнения заданий привлекают инженеров и техников, сметчиков, аудиторов, архитекторов и других специалистов. Состав группы определяется спецификой выполняемой работы. Численность сотрудников, занятых на конкретном задании, может меняться в соответствии с поэтапным решением задачи.
    h2 Выбор компании
    p Принимая решение о сотрудничестве с аутсорсинговой компанией, необходимо обращать внимание на важные моменты:
    ul
      li деловая репутация фирмы, опыт работы в профильной сфере;
      li степень оснащенности компании (оборудование, программное обеспечение), без чего ПТО не может функционировать.
    p Полезно изучить деятельность компании, узнать, с какими организациями она сотрудничает, почитать отзывы. Как правило, подобная информация имеется в свободном доступе.
