section.schemes
  .container.schemes__container
    h2.schemes__title
      span Схемы работы
    .schemes__list
      .schemes__item
        svg.schemes__people1-svg(width="188" height="175")
          use(xlink:href="img/sprite.svg#people1")
        h3.schemes__item-title Вариант «Комплексное сопровождение»
        ul.schemes__option-list
          li.schemes__option-item Принимаем вашу заявку и перезваниваем
            svg.schemes__schemes1-svg(width="38" height="58")
              use(xlink:href="img/sprite.svg#schemes1")
          li.schemes__option-item Изучаем проект, утверждаем этапы работы и рассчитываем стоимость
            svg.schemes__schemes2-svg(width="63" height="67")
              use(xlink:href="img/sprite.svg#schemes2")
          li.schemes__option-item Подписываем договор
            svg.schemes__schemes3-svg(width="64" height="60")
              use(xlink:href="img/sprite.svg#schemes3")
          li.schemes__option-item Разрабатываем имполнительную документацию и подписываем
            svg.schemes__schemes4-svg(width="48" height="60")
              use(xlink:href="img/sprite.svg#schemes4")
          li.schemes__option-item Сдаем комплект исполнительной документации Заказчику
            svg.schemes__schemes5-svg(width="52" height="53")
              use(xlink:href="img/sprite.svg#schemes5")
          li.schemes__option-item Устраняем замечания, при необходимости
            svg.schemes__schemes6-svg(width="55" height="46")
              use(xlink:href="img/sprite.svg#schemes6")
      .schemes__item
        svg.schemes__people2-svg(width="188" height="175")
          use(xlink:href="img/sprite.svg#people1")
        h3.schemes__item-title Вариант «Удаленно»
        ul.schemes__option-list
          li.schemes__option-item Принимаем вашу заявку и перезваниваем
          li.schemes__option-item Изучаем проект, утверждаем этапы работы и рассчитываем стоимость
          li.schemes__option-item Подписываем договор
          li.schemes__option-item Разрабатываем имполнительную документацию и подписываем
          li.schemes__option-item Направляем Вам по электронной почте
          li.schemes__option-item Устраняем замечания, при необходимости
