section.services
  .container.services__container
    h2.services__title
      span УРАЛ
        svg(width="100" height="100")
          use(xlink:href="img/sprite.svg#logo")
    p Специализация Инжиниринговой компании Урал - разработка исполнительной документации.
    .services__list
      .services__item
        h3 Исполнительная документация
        ul
          li Акты входного контроля
          li Акты скрытых работ
          li Исполнительные схемы
          li Акты ответственных конструкций
          li Ведомости
          li Общий журнал работ
          li Специальные журналы
      .services__item
        h3 Аутсорсинг ПТО / СКК
        span Предоставление инженеров ПТО / СКК на объект строительства
      .services__item
        h3 Разработка ППР
        ul
          li Пояснительная записка
          li Календарный план или график производства работ по объекту
          li Строительный генеральный план
          li Акты ответственных конструкций
          li Ведомости
          li Общий журнал работ
          li Специальные журналы
