section.work-plan
  .container.work-plan__container
    h2.work-plan__title Схема работы
    ol.work-plan__list
      li.work-plan__item Принимаем вашу заявку и перезваниваем
      li.work-plan__item Изучаем проект, утверждаем этапы работы и рассчитываем стоимость
      li.work-plan__item Подписываем договор
      li.work-plan__item Разрабатываем документацию и подписываем
      li.work-plan__item Сдаём комплект документации Заказчику
      li.work-plan__item Устраняем замечания, при необходимости
