.colors {
  display: flex;
}
.color-block {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}
.blue1 {
  background-color: $blue1;
}
.blue2 {
  background-color: $blue2;
}
.blue3 {
  background-color: $blue3;
}
.blue4 {
  background-color: $blue4;
}
.blue5 {
  background-color: $blue5;
}
.yellow1 {
  background-color: $yellow1;
}
.yellow2 {
  background-color: $yellow2;
}
.yellow3 {
  background-color: $yellow3;
}
.yellow4 {
  background-color: $yellow4;
}
.yellow5 {
  background-color: $yellow5;
}
