.contacts {
  &__inner {
    display: flex;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  svg {
    fill: $green;
  }
  &__whatsapp {
    font-size: 0;
    line-height: 0;
  }
  &__mail {
    display: flex;
    span {margin-left: 10px; color: black;}
  }
  &__phones.phones__link {color: black;}
  &__map-block {width: 100%;}
}
