.page-footer {
  padding: 2rem 0;
  background-color: black;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $tablet-min) {flex-direction: row; justify-content: space-between;}
    @media (min-width: $laptop-min) {justify-content: space-around;}
  }
  &__block:nth-child(3) {
    display: flex;
    @media (min-width: $tablet-min) {flex-direction: column;}
  }
  &__logo {
    display: grid;
    place-items: center;
    line-height: 0;
  }
  &__adress-block {
    margin: 2rem 0;
    a {color: greenyellow;}
  }
  &__nav, &__mail {
    display: none;
    @media (min-width: $tablet-min) {display: block;}
  }
  &__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__nav-item {
    a {color: greenyellow;}
  }
  &__callme-link {
    width: 180px;
  }
  &__mail {margin: 1rem 0;}
  &__mail-link {
    display: flex;
    align-items: center;
    span {padding-left: .5rem; color: $green;}
  }
  &__mail-svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: $green;
  }
}
