.services {
  padding: 50px 0;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    width: 100%;
    max-width: 340px;
    height: 750px;
    padding: 20px;
    margin: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.25;
      z-index: 5;
    }
    body.no-webp {
      &:nth-child(1) {background-image: url('../img/services1.jpg');}
      &:nth-child(2) {background-image: url('../img/services2.jpg');}
      &:nth-child(3) {background-image: url('../img/services3.jpg');}
    }
    body.webp & {
      &:nth-child(1) {background-image: url('../img/services1.webp');}
      &:nth-child(2) {background-image: url('../img/services2.webp');}
      &:nth-child(3) {background-image: url('../img/services3.webp');}
    }
    h3, ul, span {
      position: relative;
      color: white;
      font-size: 24px;
      z-index: 10;
    }
    h3 {text-transform: uppercase; text-align: center;}
    ul {list-style: none; padding: 0; margin: 0;}
    ul, span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
