header.page-header
  .top-header
    .container.top-header__container
      .top-header__logo
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 215.43 70.41">
          <defs>
            <linearGradient id="grad1" x1="-748.36" y1="-279.41" x2="-748.04" y2="-279.41" gradientTransform="translate(149672.5 50331.21) scale(200 180)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#11ad00"/><stop offset="1" stop-color="#f0fb00"/></linearGradient>
          </defs>
          <g id="Слой_2" data-name="Слой 2">
            <g id="Слой_1-2" data-name="Слой 1">
              <path style="fill:url(#grad1);" class="cls-1" d="M65.4,8.56,32.7,67.41,0,8.56H46.11L32.7,32.42l-4.91-8.5,3.94-6.85H14.38L32.7,49.77,55.59,8.56Z"/>
              <text style="font-size:64.72px;fill:#f0fb00;font-family:Gilroy-SemiBold, Gilroy SemiBold;font-weight:600;isolation:isolate;" class="cls-2" transform="translate(68.81 54.17)">УРАЛ</text>
              <text style="font-size:12.02px;fill:#fff;font-family:Gilroy-Medium, Gilroy Medium;font-weight:500;isolation:isolate;" class="cls-5" transform="translate(70.11 67.41)">Инжиниринговая компания</text>
            </g>
          </g>
        </svg>
      .top-header__info-block
        .top-header__adress-block
          span Уфа, ул.Пархоменко 156/1 офис 317
        .top-header__work-block
          span Понедельник - пятница
          span с 9:00 до 18:00
      .top-header__info-block
        .top-header__mail-block
          a info@pto-ural.ru
        .top-header__phone-block
          a +7(937)317-13-29
          a +7(937)309-25-25
      .top-header__whatsapp-block
        a.top-header__whatsapp Whatsapp
      .top-header__callme-block
        button.top-header__callme-button Обратный звонок
  .bottom-header
    .container.bottom-header__container
      .bottom-header__nav
        nav.main-nav
          .main-nav__main-menu
            ul.main-nav__list
              li.main-nav__item
                a.link--underline(href="#") О компании
              li.main-nav__item
                a.link--underline(href="#") Исполнительная документация
              li.main-nav__item
                a.link--underline(href="#") Проект производства работ
              li.main-nav__item
                a.link--underline(href="#") Аутсорсинг ПТО/СКК
              li.main-nav__item
                a.link--underline(href="#") Контакты
        button.main-nav__toggle(type="button")
          span Меню
