header.page-header
  .top-header
    .container.top-header__container
      .top-header__logo
        <svg class="svg-logo" version="1.1" viewBox="0 0 720 250" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="Gradient1">
              <stop offset="0%" stop-color="#11AD00"/>
              <stop offset="100%" stop-color="#F0FB00"/>
            </linearGradient>
          </defs>
          <path class="svg-logo__logo" d="M200 0 L100 180 L0 0 L141 0 L100 73 L85 47 L97 26 L44 26 L100 126 L170 0 Z" fill="url(#Gradient1)"/>
          <text class="svg-logo__name" x="480" y="150" font-size="200" font-family="Gilroy, Arial" font-weight="600" text-anchor="middle" fill="#F0FB00">УРАЛ</text>
          <text x="375" y="235" font-size="72" font-family="Gilroy, Arial" font-weight="normal" text-anchor="middle" fill="white">Инжиниринговая компания</text>
        </svg>
      .top-header__info-block
        .top-header__adress-block
          span Уфа, ул.Пархоменко 156/1 офис 317
        .top-header__work-block
          span Понедельник - пятница
          span с 9:00 до 18:00
      .top-header__info-block
        .top-header__mail-block
          a info@pto-ural.ru
        .top-header__phone-block
          a +7(937)317-13-29
          a +7(937)309-25-25
      .top-header__whatsapp-block
        a.top-header__whatsapp Whatsapp
      .top-header__callme-block
        button.top-header__callme-button Обратный звонок
  .bottom-header
    .container.bottom-header__container
      .bottom-header__nav
        nav.main-nav
          .main-nav__main-menu
            ul.main-nav__list
              li.main-nav__item
                a.link--underline(href="#") О компании
              li.main-nav__item
                a.link--underline(href="#") Исполнительная документация
              li.main-nav__item
                a.link--underline(href="#") Проект производства работ
              li.main-nav__item
                a.link--underline(href="#") Аутсорсинг ПТО/СКК
              li.main-nav__item
                a.link--underline(href="#") Контакты
        button.main-nav__toggle(type="button")
          span Меню
