doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title 👷‍♂️ Выполним разработку исполнительной документации, ППР, ППРк, ПТО, СКК
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/style.css")
      link(rel="preload" href="fonts/TTNormsPro-Regular.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload" href="fonts/TTNormsPro-Bold.woff2" as="font" type="font/woff2" crossorigin)
  body
    block header
      include header
    block content
    block footer
      include footer
    block scripts
      script(src="js/main.min.js")
