// Цвета
$blue1: #162EAE;
$blue2: #2D3B83;
$blue3: #071871;
$blue4: #4A60D7;
$blue5: #7080D7;
$green: #11AD00;
$dark-green: #0B7500;
$yellow: #F0FB00;
$yellow1: #FFB600;
$yellow2: #BF9630;
$yellow3: #A67600;
$yellow4: #FFC840;
$yellow5: #FFD773;
$gray: #EEEEEE;
$gray1: #b2b2b2;

// Размеры медиазапросов
$phone-min: 320px;
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$laptop-min: 1024px;
$scaf: 1200px;
$laptop-max: 1439px;
$desktop-min: 1440px;
$container-max: 1799px;
$desktop-max: 1919px;
$desktop-biggest: 1920px;

// Отступы
$desktop-paddings: 50px;
$tablet-paddings: 30px;
$phone-paddings: 20px;
