section.services
  .container.services__container
    h2.visually-hidden.services__title Наши услуги
    ul.services__list
      li.services__item
        h3.services__name Исполнительная документация
        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor, magna eget ultricies tristique, eros velit placerat ligula, sit amet pulvinar mauris ante aliquam sapien. Nulla id eleifend mi. Nulla facilisi. Fusce fermentum arcu sed dapibus pulvinar. Curabitur malesuada et neque quis feugiat. Integer id mattis lectus. Phasellus tincidunt ut ante venenatis maximus. Vivamus volutpat ipsum ac rutrum posuere
      li.services__item
        h3.services__name Проект производства работ
        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor, magna eget ultricies tristique, eros velit placerat ligula, sit amet pulvinar mauris ante aliquam sapien. Nulla id eleifend mi. Nulla facilisi. Fusce fermentum arcu sed dapibus pulvinar. Curabitur malesuada et neque quis feugiat. Integer id mattis lectus. Phasellus tincidunt ut ante venenatis maximus. Vivamus volutpat ipsum ac rutrum posuere
      li.services__item
        h3.services__name Служба контроля качества
        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor, magna eget ultricies tristique, eros velit placerat ligula, sit amet pulvinar mauris ante aliquam sapien. Nulla id eleifend mi. Nulla facilisi. Fusce fermentum arcu sed dapibus pulvinar. Curabitur malesuada et neque quis feugiat. Integer id mattis lectus. Phasellus tincidunt ut ante venenatis maximus. Vivamus volutpat ipsum ac rutrum posuere
