extends common/layout

block content
  main.page-main
    include includes/main-slider.pug
    include includes/services.pug
    include includes/schemes.pug
    include includes/about-us.pug
    include includes/work-plan.pug
  include common/aside.pug
