extends common/layout

block content
  main.page-main
    include includes/main-slider.pug
    include includes/services.pug
    include includes/schemes.pug
    include includes/about-us.pug
    include includes/partners.pug
    include includes/faq.pug
    include includes/form.pug
  include common/aside.pug
