extends common/layout

block content
  main.page-main
    include includes/index/main-slider.pug
    include includes/index/services.pug
    include includes/index/about-us.pug
    include includes/index/work-plan.pug
  include common/aside.pug
