extends common/layout

block content
  main.page-main
    .colors
      .color-block.blue1 1 синий
      .color-block.blue2 2 синий
      .color-block.blue3 3 синий
      .color-block.blue4 4 синий
      .color-block.blue5 5 синий
      .color-block.yellow1 1 желтый
      .color-block.yellow2 2 желтый
      .color-block.yellow3 3 желтый
      .color-block.yellow4 4 желтый
      .color-block.yellow5 5 желтый
