section.portfolio
  .container.portfolio__container
    h2.portfolio__title Портфолио
    ul.portfolio__list
      li.portfolio__item
        a.portfolio__item-link(href="#")
          .portfolio__transition
            .portfolio__front
              h3.portfolio__item-title Проект 1
            .portfolio__back
              p.portfolio__item-text На этом проекте мы сделали то-то
      li.portfolio__item
        a.portfolio__item-link(href="#")
          .portfolio__transition
            .portfolio__front
              h3.portfolio__item-title Проект 2
            .portfolio__back
              p.portfolio__item-text На этом проекте мы сделали то-то
      li.portfolio__item
        a.portfolio__item-link(href="#")
          .portfolio__transition
            .portfolio__front
              h3.portfolio__item-title Проект 3
            .portfolio__back
              p.portfolio__item-text На этом проекте мы сделали то-то
