.phones {
  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0.5rem 0 0.5rem 3.5rem;
    box-sizing: border-box;
  }
  &__link {color: $green;}
  &__icon {
    position: absolute;
    left: 0;
    fill: $green;
  }
}
.bottom-header .phones__block {
  @media (max-width: $tablet-max) {display: none;}
}
.bottom-header .phones {
  &__link {
    color: greenyellow;
    &::after {
      background-color: greenyellow;
    }
  }
  &__icon {
    fill: greenyellow;
  }
}
